---
import Header from "@/components/custom/Header.astro";
import TestimonialCard from "@/components/custom/TestimonialCard";
import { t } from "@/i18n";

export interface Props {
  lang?: string;
}

const { lang = "es" } = Astro.props;

const testimonials = [
  {
    name: "Kevin Fiorentino",
    company: "Notimation",
    date: "16/10/2024",
    content: 'Trabajé más de un año con Fran, indirectamente, como líder de su líder. Realmente ha sido exponencial ver su crecimiento como desarrollador front-end. Desde arrancar completamente de abajo, sabiendo lo básico, a hacerse cargo de proyectos y desarrollos grandes en poco tiempo. Fran hizo ese "clic" que considero deben hacer los programadores en donde demuestran haber "pasado de nivel". Un día comenzó a proponer, analizar, resolver a otro ritmo. Con mayor eficacia, eficiencia e incluso en cantidad de tareas. Sumado a su buen trato diario y gran comunicación constante que ha tenido con su líder o directamente conmigo. Tienen todos los soft y hard skills necesarios para este trabajo. Todo por delante como desarrollador de software.',
    avatarUrl: "/assets/images/testimonials/testimonials-01.webp",
  },
  {
    name: "Lucía Dias",
    company: "Notimation",
    date: "25/03/2024",
    content: "Hace casi un año que trabajo con Franco en el equipo de desarrollo front-end en Notimation. Desde el principio, demostró un entusiasmo notable por aprender y una actitud proactiva por resolver sus tareas. Franco aborda sus responsabilidades con rapidez y eficacia. Destaca como una persona muy comunicativa, amigable y de confianza. Sin duda, se convirtió en un pilar fundamental de nuestro equipo. Recomiendo absolutamente trabajar con él.",
    avatarUrl: "/assets/images/testimonials/testimonials-02.webp",
  },
  {
    name: "Emiliano Carasa",
    company: "Finanex",
    date: "03/07/2025",
    content: "Trabajé con Franco como desarrollador Front-End y fue un verdadero placer. Es detallista, comprometido y siempre busca mejorar lo que hace, incluso cuando ya está bien. Tiene una gran actitud, aporta valor en cada entrega y eleva la calidad del equipo. Lo recomiendo sin dudas.",
    avatarUrl: "/assets/images/testimonials/testimonials-03.webp",
  },
  {
    name: "Ivan Klimberg",
    company: "Finanex",
    date: "03/07/2025",
    content: "Franco es alguien que se esfuerza en entender el producto en el que trabaja y no da vueltas en pensar y desarrollar soluciones para los problemas que se le presentan. Una persona responsable y facil de trabajar con el, recomiendo a futuros empleadores.",
    avatarUrl: "/assets/images/testimonials/testimonials-04.webp",
  },
];
---

<div class="flex flex-col items-center justify-center px-4 pt-5 gap-2 text-foreground">
  <Header title={t(lang, "testimonials.title")} subtitle={t(lang, "testimonials.subtitle")} icon="ion:happy-sharp" />

  <div class="testimonial-carousel mt-2 h-66.25 overflow-hidden">
    <div class="testimonial-carousel-inner grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      {Array.from({ length: 3 }).flatMap(() => testimonials).map((testimonial) => (
        <TestimonialCard client:idle name={testimonial.name} company={testimonial.company} date={testimonial.date} content={testimonial.content} avatarUrl={testimonial.avatarUrl} />
      ))}
    </div>
  </div>
</div>
